@font-face {
	font-family: Major;
	src: url(MajorMonoDisplay-Regular.ttf);
  }

body {
	font-family: Major;
	background-image: url("background.jpeg");
	background-size:400px;
	background-position: center;
	background-attachment: fixed;
	font-size: max(12px, 3vmin);
}

h1 {
	text-transform: uppercase;
	font-weight: lighter;
}
h2, h3, h4, h5, h6 {
	text-transform: lowercase;
	font-weight:bold;
}
h1 {
	font-size: max(12px, 10vmin);
}
h2 {
	font-size: max(12px, 7vmin);
}

.hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: max(20px, 10vw);
	box-sizing: border-box;
}

.hero > h1 {
	padding: 0;
	margin: 0;
}
p {
	text-transform: lowercase;
}

.content {
	position: absolute;
	top: 100vh;
	left: 0;
	width: 100vw;
	text-align: center;
	padding: max(20px, 10vw);
	box-sizing: border-box;
}
.content > h2 {
	margin-top: 200px;
}

ul {
	list-style: none;
}
li {
	text-indent: -1em;
}
li:before {
	content: "✽";
	padding-right: 15px;
}

.screenshot {
	max-width: 80vw;
	max-height: 80vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.work {
	margin-bottom: 60px;
}

a {
	text-decoration: none;
	color: black;
}
.content > a {
	color: white;
	background-color: black;
	padding: 10px;
}

.nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	padding: 5px 10px 5px 10px;
	box-sizing: border-box;
	z-index: 3;
	align-items: center;
	background-image: url("background.jpeg");
	background-size:400px;
	background-position: center;
	background-attachment: fixed;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0);
	transition: 0.2s;
	display: flex;
}
.nav > a {
	display: block;
	display: flex;
	align-items: center;
	flex:1;
	padding-bottom: 5px;
}
.nav > a > img {
	width:1.5em;
	margin-right: 10px;
}

.right {
	flex:1;
	text-align: right;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: right;
	align-items: center;
}

.navLink {
	display: flex;
}
.navLinkInner { 
	padding-bottom: 5px;
	box-sizing: border-box;
	overflow: hidden;
	display: inline;
	overflow: hidden;
	position: relative;
}
.right > .navLink > .navLinkInner > a {
	overflow: hidden;
	text-transform: lowercase;
	flex:1;
}
  
.right > .navLink > .navLinkInner > a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: black;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}
.right > .navLink > .navLinkInner > a::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}
  
.right > .navLink > .navLinkInner > a:hover::after,
.right > .navLink > .navLinkInner > a:focus::after{
	transform: translate3d(0, 0, 0);
}

.navLink:not(:last-child)::after {
	content: "-";
	padding-left: 5px;
	padding-right: 5px;
}

.card {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.card > ul > li {
	text-transform: lowercase;
	padding-bottom: 10px;
}

.prices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card > .prices > sub {
	text-transform: lowercase;
}
.card > .prices > sub:nth-child(2n + 1) {
	font-size: max(12px, 2vmin);
}
.card > .prices > sub:nth-child(2n) {
	font-size: max(12px, 1vmin);
}


.works {
	display: flex;
	flex-wrap: wrap;
}
.works > a {
	flex: 1;
	margin: 10px;
	transition: 0.2s;
}
.works > a:hover {
	margin: 5px;
}
a > .miniSS {
	max-width: 100%;
	border-radius: 10px;
	min-width: 150px;
}

button:not(.articleContainer) {
	background-color: transparent;
	border: none;
	font-family: inherit;
	font-size: inherit;
	text-transform: lowercase;
	transition: 0.2s;
	padding: 10px;
}
button:not(.articleContainer)::before {
	content: "-";
	padding-right: 5px;
	transition: 0.2s;
}
button:not(.articleContainer)::after {
	content: "-";
	padding-left: 5px;
	transition: 0.2s;
}

button:not(.articleContainer):hover::before {
	padding-right: 15px;
}
button:not(.articleContainer):hover::after {
	padding-left: 15px;
}

button:not(.articleContainer):active {
	background-color: black;
	color: white;
}

.article {
	box-shadow: 0 0 10px black;
	overflow: scroll;
	padding: 20px;
	box-sizing: border-box;
	font-family: inherit;
	text-align: left;
	width: max(250px, 80vw);
	height: max(250px, 80vh);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 5;
}
.articleContainer {
	font-family: inherit;
	position: fixed;
	left: 50%;
	top: 150%;
	translate: -50% -50%;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	border: none;
	padding: 0;
	z-index: 4;
	transition: 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.article > pre {
	line-height: 20px;
	font-size: 16px;
	font-family: inherit;
	text-transform: lowercase;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}